<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SI Kependudukan - Homepage</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    </head>
    <body>
    	<div th:replace="fragments/fragment :: header"></div>
    	<h2>SUKSES!</h2>
<!--   <p th:text="'Penduduk dengan NIK ' + ${nik} + ' sudah tidak aktif.'">NIK is dead</p> -->
       	<p>Penduduk dengan NIK <span id='nik_penduduk' th:text='${nik}'></span>  sudah tidak aktif</p>
       	<script type="text/javascript">
            function Redirect() {
            	var absPath = document.location.origin + "/penduduk";
            	var deadNik = $("#nik_penduduk").text();
               window.location=absPath + "?nik=" + deadNik;
            }
            setTimeout('Redirect()', 3000);
      </script>
    </body>
</html>