<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SI Kependudukan - ubah penduduk</title>
 <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
  <link rel="stylesheet" href="/resources/demos/style.css" />
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
	<div th:replace="fragments/fragment :: header"></div>
	<h2 class="page-header">Ubah Data Penduduk</h2>
	<form action="/penduduk/ubah" method="post">
		<div>
			Nama <br /> <input th:value="${penduduk.getNama()}" type="text" name="nama" />
		</div>
		<div>
			Tempat Lahir <br /> <input th:value="${penduduk.getTempat_lahir()}" type="text" name="tempat_lahir" />
		</div>
		<div>
			Tanggal Lahir <br /> <input th:value="${penduduk.getTanggal_lahir()}" type="text" id="newPendudukDatepicker" name="tanggal_lahir" />
		</div>
		<div>
			Jenis Kelamin <br /> <select th:value="${penduduk.getJenis_kelamin()}" name="jenis_kelamin">
				<option value="0">Pria</option>
				<option value="1">Wanita</option>
			</select>
		</div>
		<div>
			Golongan Darah <br /> <input th:value="${penduduk.getGolongan_darah()}" type="text" name="golongan_darah" />
		</div>
		<div>
			Agama <br /> <input th:value="${penduduk.getAgama()}" type="text" name="agama" />
		</div>
		<div>
			Status Perkawinan<br /> <select th:value="${penduduk.getStatus_perkawinan()}" name="status_perkawinan">
				<option value="Belum Kawin">Belum Kawin</option>
				<option value="Kawin">Kawin</option>
			</select>
		</div>
		<div>
			Status Dalam Keluarga<br /> <input th:value="${penduduk.getStatus_dalam_keluarga()}" type="text" name="status_dalam_keluarga" />
		</div>
		<div>
			Pekerjaan <br /> <input th:value="${penduduk.getPekerjaan()}" type="text" name="pekerjaan" />
		</div>
		<div>
			Kewarganegaraan <br />
			<select th:value="${penduduk.getIs_wni()}" name="is_wni">
				<option value="0">WNA</option>
				<option value="1">WNI</option>
			</select>
		</div>
		<div>
			Status Kematian <br />
			<select th:value="${penduduk.getIs_wafat()}" name="is_wafat">
				<option value="0">Hidup</option>
				<option value="1">Meninggal</option>
			</select>
		</div>
		<div>
			ID Keluarga <br /> 
			<input type="text" th:value="${penduduk.getId_keluarga()}" name="id_keluarga" />
<!-- 	ternyata kalau pake drop down list, lamanya minta ampun		
				<select name="id_keluarga" > 
				<option th:each="km, iterationStatus: ${listOfKm}" th:value="${km.getId()}" th:text="${km.getId() + ' - ' + km.getNomor_kk()}">Hidup</option>
			</select> -->
		</div>
		<input type="hidden" th:value="${penduduk.getNik()}" name="oldNik" />
		<input type="hidden" th:value="${penduduk.getId()}" name="idToUpdate" />
		<button type="submit">Simpan</button>
	</form>
	<script>
	  $( function() {
	    $( "#newPendudukDatepicker" ).datepicker({dateFormat:'yy-mm-dd'});
	  } );</script>
</body>
</html>

